.result {
    background-color: gray;
    color: white;
    font-size: 50px;
    text-align: end;
    padding-right: 10px;
}
.num {
    background-color: #eee;
    color: black;
    font-size: 50px;
    text-align: center;
    border: 0.5px grey solid; 
}

.opr {
    background-color: orange;
    color: white;
    font-size: 50px;
    text-align: center;
    border: 0.5px grey solid;
}